.dictionary {
  max-width: 800px;
  width: 100%;
}

.dictionary h1,
.dictionary h2,
.dictionary h3 {
  margin: 0;
}

.dictionary section {
  margin: 16px;
  padding: 16px;

  background: white;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.dictionary input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 8px 0;
}

.dictionary .hint {
  font-size: 12px;
}
